{% extends "baseGeneric.html" %}

{% block content %}

	<br><br><br><br><br><br>
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-xs-offset-3 alert alert-warning">	
	    		<p>Please <strong>DO NOT</strong> close this page until email is received</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-xs-offset-3 alert alert-info">	
	    		<p>A varification email has been sent to your account.</p>
	    		<p>If not received after 5 mins, you may click below to request a re-send.</p>
			</div>
		</div>
	</div>
	


{% endblock %}	
