{% extends "baseGeneric.html" %}
{% load crispy_forms_tags %}

{% block content %}
	<br><br><br><br>
	{% if messages %}
		<div class="row">
			<div class="col-xs-6 col-xs-offset-3">	
			    {% for message in messages %}
			   		<p{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</p>
			    {% endfor %}
			</div>
		</div>
	{% endif %}
	<div class="container-fluid">
		<h2>Reset Password</h2>
		<p>We will send you an email with your new password.</p>
		<p>You can change to your desired password by using the new password.</p>
	</div>
	<div class="container-fluid">
		<form action="{% url 'forgotPassword' %}" method='POST'>{% csrf_token %}
			{{forgotPasswordForm|crispy}}
			<a href="{% url 'home' %}" style="color:inherit;"><button class="btn">Cancel</button></a>
			<input type="submit" class="btn btn-primary" value='Reset my password'/>
		</form>
	</div>

{% endblock %}	