<div class="footer container-fluid">
	<div class="row">
		<div class="col-xs-7">
			<!-- FB like button code -->
			<div class="fb-like fb_iframe_widget" data-href="http://localhost:8000/home/" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-colorscheme="light"
			></div>
			<!-- FB share button code -->
			<div class="fb-share-button fb_iframe_widget" data-href="http://www.your-domain.com/your-page.html" data-layout="button" data-size="small" data-mobile-iframe="true">
			</div>
			<!-- Twitter share button -->
			<div>
				<a href="https://twitter.com/share" class="twitter-share-button" data-text="welcome to grade calculator" data-url="http://localhost:8000/home/" data-hashtags="gradecalculator" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
		</div>

		<div class="col-xs-5">
			<p class="text-muted credit">Example courtesy <a href="http://martinbean.co.uk">Safwan Ull Karim</a>.</p>	
			<!-- <p class="text-muted credit">Facebook<a href="https://www.facebook.com/sharer/sharer.php?u=http://google.com">Share on Facebook</a></p>	 -->
		</div>
	</div>
</div>