

<div class="modal fade" id="provokeRegoModal">
	<div class="modal-dialog modal-xl">
      <div class="modal-content" style="background-color: #D9EDF7; color:#3A87AD;">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body">
		  	<h5 class="text-center">It appears you are not yet logged in. Please login or register now to use this feature.</h5>
		</div>	
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
